{% extends "base.html" %} 

{% block title %}Details{% endblock title %} 

{% block content %}
    <h1 class="display-3">{{destination.name}}</h1>
    <p class="text-justify">{{destination.description}}</p>
    <p class="text-justify"> <strong>Activities: </strong>{{destination.activities}}</p>
    <p><img src="{{destination.pretty_picture.url}}" class="img-fluid" alt="Responsive image"></p>
    <h1 class="display-4">{{destination.optimal_visiting_season}}</h1>
    <a href="{% url 'destination-update' destination.id %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Update</a>
    </a>
    <a href="{% url 'destination-delete' destination.id %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Delete</a>
    </a>
{% endblock content %}